body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  text-align: center;
}

.header h1 {
  color: darkblue;
  font-family: Arial;
}

.content {
  text-align: center;
}

.select_button {
	background: linear-gradient(to bottom, #0e80c7 5%, #053f72 100%);
	background-color: darkblue;
	border-radius: 3px;
	border: 1px darkblue;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
  font-size: 17px;
  font-weight: normal;
	padding: 9px;
	text-decoration: none;
  margin: 8px;
}
.select_button:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.select_button:active {
	position:relative;
	top:1px;
}

.input {
  text-align: center;
  height: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

.input label {
  display: block;
  margin-bottom: 15px;
  color: #34363d;
  font: 400 .9rem Source Sans Pro,sans-serif;
}

.cont {
  width: 40%;
}

.inputbox {
  font: 400 1rem Source Sans Pro,sans-serif;
  box-sizing: border-box;
  margin-bottom: .25rem;
  height: 2.25rem!important;
  width: 100%!important;
}
