.env
.DS_Store


#ignore constants.js
./constants.js
constants.js
api/constants.js

#ignore node_modules
node_modules/
api/node_modules/

logs

#ignore package.json
package-lock.json
package.json
api/package-lock.json
api/package.json
